<h2 class='StepTitle'>Select your Repose version (if none is selected, latest version will be used)</h2>
<label for='repose_version'>Please select your repose version:</label><select name='repose_version'><%= @versions %></select>

